<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="new-loan" *ngIf="isUser">
      <ion-icon name="bag-add"></ion-icon>
      <ion-label>New Loan</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="loans" *ngIf="isUser">
      <ion-icon name="file-tray-full"></ion-icon>
      <ion-label>My Loans</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="donation-request-list" *ngIf="isUser">
      <ion-icon name="library-outline"></ion-icon>
      <ion-label>Donation Request</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="manage" *ngIf="isManager">
      <ion-icon name="checkbox"></ion-icon>
      <ion-label>Manage</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="loan-extension" *ngIf="isManager">
      <ion-icon name="bookmarks"></ion-icon>
      <ion-label>Loan Extensions</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="donation-approval" *ngIf="isManager">
      <ion-icon name="checkmark"></ion-icon>
      <ion-label>Donation Approval</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
