<ion-header>
  <ion-toolbar>
    <ion-title>Loan Details</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-label>
    <p>Id: {{loanid}}</p>
    <h3>Status: {{loan.status}}</h3>
    <h3>Due Date: {{loan.duedate | date:'d MMM yyyy'}}</h3>
    <ion-list>
      <ion-item *ngFor="let item of loan.items">
        <ion-label>
          <p>{{item.id}} x {{item.quantity}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-button expand="block" color="danger" (click)="delete(loan)" *ngIf="loan.status == 'pending'">
      Cancel Loan
    </ion-button>
  </ion-label>
  
  <ion-button expand="block" color="secondary" [routerLink]="['/loan-extension-form', loanid]" *ngIf="loan.status == 'approved'">
    Extend Loan Request
  </ion-button>
</ion-content>
